{%  extends 'layout.twig' %}

{% block content %}

<h1>Bienvenue</h1>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin lobortis arcu elementum, condimentum justo at, bibendum risus. Etiam non ante pretium, blandit justo elementum, elementum ligula. Vestibulum elementum efficitur ex, et pretium neque hendrerit convallis. Morbi et mi rutrum, vehicula nisl eu, semper urna. Sed ut ultrices massa. Maecenas ultricies vulputate tortor vitae posuere. Nulla nulla quam, ornare eu rutrum at, tincidunt quis augue. Ut nec efficitur erat, ut euismod neque.</p>

{% endblock %}